.header {
  margin-bottom: 2em;
}

.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  // background-image: url('../../assets/images/wall.jpg');
  // background-repeat: no-repeat;
  // background-position: center;
  background-image: url(../../assets/images/login.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 75px;
}
.form-field {
  margin-bottom: 1em;
}

.login-button {
  margin-bottom: 1em;
}