.greeting-logout{

}

.container-row {
    display: flex;
    flex-direction: row;
}

.header-item {
    margin: 1rem;
}

.toolbar{
    justify-content: space-between;
}

.homepage-wrapper{
    padding: 1rem;
}